---
interface Props {
	pretixUrl?: string;
}

const { pretixUrl } = Astro.props;
const safePretixUrl = pretixUrl ?? 'https://pretix.eu/MLK9-LLK9/CERBERUS/';
const base = safePretixUrl.replace(/\/$/, '');
---

<link rel="stylesheet" type="text/css" href={`${base}/widget/v1.css`} crossorigin />
<script type="text/javascript" src="https://pretix.eu/widget/v1.pl.js" async crossorigin></script>

<style>
  .pretix-widget-wrapper,
  .pretix-widget-wrapper *,
  pretix-widget,
  pretix-widget * {
    opacity: 1 !important;
    filter: none !important;
    color: #000000 !important;
  }
  .pretix-widget,
  .pretix-widget *,
  .pretix-widget p,
  .pretix-widget span,
  .pretix-widget div,
  .pretix-widget label,
  .pretix-widget .pretix-widget-item-title,
  .pretix-widget .pretix-widget-item-description,
  .pretix-widget .pretix-widget-item-price,
  .pretix-widget .pretix-widget-item-availability,
  .pretix-widget h2,
  .pretix-widget h3,
  .pretix-widget h4 {
    color: #000000 !important;
  }
  .pretix-widget .pretix-widget-item-description {
    color: #333333 !important;
  }
  .pretix-widget .pretix-widget-info-message {
    color: #C42B2B !important;
    border-color: #C42B2B !important;
  }
</style>

<div
	class="pretix-widget-wrapper"
	style="background: #ffffff; min-height: 400px; width: 100%; opacity: 1 !important; filter: none !important; color: #000000 !important;"
>
	<pretix-widget event={safePretixUrl}></pretix-widget>
	<noscript>
		<div style="padding: 20px; font-family: Rajdhani, sans-serif;">
			Zarejestruj się na:
			<a href={safePretixUrl} style="color: #C4922A;">{safePretixUrl}</a>
		</div>
	</noscript>
</div>
