---
---

<link rel="stylesheet" type="text/css" href="https://pretix.eu/MLK9-LLK9/CERBERUS/widget/v1.css" crossorigin />
<script type="text/javascript" src="https://pretix.eu/widget/v1.pl.js" async crossorigin></script>

<div style="background: #ffffff; min-height: 400px; width: 100%;">
	<pretix-widget event="https://pretix.eu/MLK9-LLK9/CERBERUS/"></pretix-widget>
	<noscript>
		<div style="padding: 20px; font-family: Rajdhani, sans-serif;">
			Zarejestruj się na:
			<a href="https://pretix.eu/MLK9-LLK9/CERBERUS/" style="color: #C4922A;"> pretix.eu/MLK9-LLK9/CERBERUS </a>
		</div>
	</noscript>
</div>
